.idea/example_singletone.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
example_singletone.iml
.idea/description.html
.idea/encodings.xml
.idea/project-template.xml
.idea/uiDesigner.xml
